@import 'calc/index.css';
@import 'transform/index.css';
@import 'css-box/index.css';

.box {
    width: 50px;
    height: 50px;
    background-color: royalblue;
}

.rotate:hover{
    transform: rotate(45deg);
}

.scale:hover{
    transform: scale(1.5);
}

.translate:hover{
    transform: translateX(50px);
}

.skew:hover{
    transform: skew(20deg, 10deg);
}