@import 'calc/index.css';
@import 'transform/index.css';
@import 'css-box/index.css';
@import 'cordinate-space/index.css';

.box {
    width: 50px;
    height: 50px;
    background-color: royalblue;
}

