.block-box{
    display: block;
    width: 20%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid blue;
    background-color: lightblue;
}

.inline-box{
    display: inline;
    width: 50rem;
    padding: 10px;
    border: 2px solid red;
    margin: 5px;
    background-color: lightcoral;
}

/* Box model styles */
.box-model {
  margin: 40px auto; /* Outer margin */
  width: 300px;
  border: 10px solid #4CAF50; /* Border */
  padding: 20px; /* Inner padding */
  background-color: #e3fcef; /* Padding background */
  box-sizing: content-box; /* Ensure only content width is counted */
}

.content {
  background-color: #2196F3; /* Content background */
  color: white;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}